<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
    </Console>
	<File name="File1" fileName="./log_normal.log" bufferedIO="true" append="false">
	  <!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/> -->
	  <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
    </File>
    <File name="File2" fileName="./log_resumen.log" bufferedIO="true" append="true">
	  <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
    </File>
  </Appenders>
  <Loggers>
    <!-- <Root level="trace">
      <AppenderRef ref="File1"/>
	   <AppenderRef ref="Console"/>
    </Root> -->
    <Logger name="logNormal" level="trace">
      <AppenderRef ref="File1"/>
    </Logger>
    <Logger name="logResumido" level="trace">
      <AppenderRef ref="File2"/>
    </Logger>
  </Loggers>
</Configuration>